@page "/"

<p style="margin-top: 50px;" class="line-2 anim-typewriter1">
    'Who is faster' is an online multiplayer browser-based typing game.
</p>
<p class="line-2 anim-typewriter2">
    It consists of a competition between 1 to 4 players whose goal is to type a given parapgraph of text as fast as possible.
</p>
<p class="line-2 anim-typewriter3">
    Each word has to be typed properly, so the players have to correct any mistakes before advancing to the next word.
</p>
<p class="line-2 anim-typewriter4">
    To access any room, you must first log in or register if you do not have an existing account!
</p>

<div class="cont">
    <div class="row">
        <div class="col-sm">
            <div class="card text-white bg-info mb-3" data-aos="flip-right" data-aos-duration="1000" data-aos-delay="1000" style="max-width: 30rem;">
                <div class="card-header">Public room</div>
                <div class="card-body">
                    <p class="card-text">
                        Public room is a room that is open to anyone. It can hold up to 4 players, and the game starts automatically 10 seconds after the second player joins the room. It is possible
                        for others to join while the 10 second window is still open and counting.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-white bg-info mb-3" data-aos="flip-right" data-aos-delay="2000" style="max-width: 30rem;">
                <div class="card-header">Practice room</div>
                <div class="card-body">
                    <p class="card-text">Practice room is a room in which the players can excercise their skills. The room can contain only one player, and the game starts five seconds after pressing "start".</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-white bg-info mb-3" data-aos="flip-right" data-aos-duration="1000" data-aos-delay="3000" style="max-width: 30rem;">
                <div class="card-header">Party room</div>
                <div class="card-body">
                    <p class="card-text">
                        Party room can hold up to 4 players. Access to the room is provided via a link that other players receive from the admin. The admin is the player that generated the room. He chooses when the game starts, by clicking "start". The game starts after 5 seconds have passed since pressing "start".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom: 50px;" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
    <div class="text-center">
        <h3>
            The described rooms can be found on the left side in the navigation bar.
            <br />Let's race!
        </h3>
        <img src="images/1.gif" class="img-fluid" alt="keyboard">
    </div>
</div>

