@page "/practice"
@attribute [Authorize(Roles="User")]
<h1>@Title</h1>

<div class="progress"  style="background-color: #222222; margin-bottom: 10px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">Player1</div>
</div>


