@page "/room"

<h1>@Title</h1>

<div class="progress" style="background-color: darkgray">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">Player1</div>
</div>
<div class="progress" style="background-color: darkgray">
    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Player2</div>
</div>
<div class="progress" style="background-color: darkgray">
    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Player3</div>
</div>
<div class="progress" style="background-color: darkgray">
    <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Player4</div>
</div>

