@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    bool reset = TempData["ResetUrl"] == null ? false : true;
}

<h1>@ViewData["Title"]</h1>
@if(reset){
    <p>
        Please reset your password by <a href='@TempData["ResetUrl"]'>clicking here</a>.
    </p>
}else{
    <p>Please check your email to reset your password.</p>
}

