@inherits LayoutComponentBase

<div class="sidebar @Sidebar" @onmouseover="Extend" @onmouseout="Collapse" >
    <CascadingValue Value="@Collapsed">
        <CascadingValue Value="@NavTitle">
            <NavMenu />
        </CascadingValue>
    </CascadingValue>
</div>

<div class="main">
    <div class="top-row px-4">
        <p class="line-1 anim-typewriter">Welcome to WhoIsFaster</p>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    public bool Collapsed { get; set; } = true;
    public string NavTitle { get; set; } = "WIF";
    public string Sidebar { get; set; } = "sidebarCollapsed";
    void Extend(){
        Collapsed = false;
        NavTitle = "WhoIsFaster";
        Sidebar = "";
    }

    void Collapse(){
        Collapsed = true;
        NavTitle = "WIF";
        Sidebar = "sidebarCollapsed";
    }
}