@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.line-2 {
    position: relative;
    white-space: pre;
    border-right: 2px solid #222222;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}




/* Animation */
.anim-typewriter {
    animation: typewriter 2s steps(24) 0s 1 normal both, blinkTextCursor 500ms steps(24) infinite normal;
}

.anim-typewriter1 {
    animation: typewriter1 1s steps(45) 0s 1 normal both, blinkTextCursor 500ms steps(45) 2 normal;
}

.anim-typewriter2 {
    animation: typewriter2 1s steps(45) 1s 1 normal both, blinkTextCursor 500ms steps(45) 1s 2 normal;
}

.anim-typewriter3 {
    animation: typewriter3 1s steps(45) 2s 1 normal both, blinkTextCursor 500ms steps(45) 2s 2 normal;
}

.anim-typewriter4 {
    animation: typewriter4 1s steps(45) 3s 1 normal both, blinkTextCursor 500ms steps(45) 3s infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 13em;
    }
}

@keyframes typewriter1 {
    from {
        width: 0;
    }

    to {
        width: 37em;
    }
}

@keyframes typewriter2 {
    from {
        width: 0;
    }

    to {
        width: 66em;
    }
}

@keyframes typewriter3 {
    from {
        width: 0;
    }

    to {
        width: 63em;
    }
}

@keyframes typewriter4 {
    from {
        width: 0;
    }

    to {
        width: 52em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}
