@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
        <button  type="submit" class="nav-link btn btn-link">Logout</button>
    </form>
}
else
{
    <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
}
